
table {
    border: 5px solid rgb(140, 136, 136);

    
}
img {
     
        width: 80px; 
   }

td,th {
    text-align: center;
    border: 3px solid black;
    font-size: 32px;
    padding: 10px;
   
}
