* {


    margin: 0px;
    /*  сброс внешнего отступа */
    padding: 0px;
    box-sizing: border-box;
    /* padding входит в ширину- высоту блока*/
}

header {


    margin: auto;
    width: 85%;
    border-radius: 10px;
    background-color: rgb(179, 179, 212);
    padding: 20px 0;
    *
    /* сверху/снизу -20рх, справа с лева - 0*/
    margin-bottom: 40px;
}

header:hover {
    transform: scale(1.1);
}

.container {
    width: 85%;
    /*ширина контейнера*/
    background-color: rgb(241, 235, 235);
    /* height: 700px; */
    display: flex;
    /*разбивает таблицу в строчный элемент*/
    justify-content: center;
    /*выранивание по горизонтале*/
    flex-wrap: wrap;
    /* убираем поведение flex в одну строчку*/
    margin: auto;
    /*центрирование блока*/
    padding: 20px;
    border-radius: 10px;
    /* align-items: center;выранивание по вертикали */
}

.item {

    width: calc(50% - 20px);
    /*ширина элемента внутреннего элемента*/
    height: 250px;
    /*высота*/
    background-color: rgb(127, 221, 34);
    /*цвет фона*/
    margin: 10px;
    /*внешний отступ*/
    display: flex;
    box-shadow: 0px 0px 10px 5px rgba(34, 60, 80, 0.2);
    transition: 1s;
    /*увелечение обекта при наведении*/
}

h1 {
    text-align: center;
    /*выравнивает текст*/
    font-size: 40px;
    color: aqua;

}

h1:hover {
    color: brown;
    /*  при наведении цвет меняет*/
}

.item:hover {
    transform: scale(1.1) rotate(10deg);/* scale- мащтабирование-увеличение фото,
    rotate - поворот в право в лево используется минус при наведении увеличивает*/
}

.item-1 {
    align-items: center;
    /*align-items выравнивает flex-элементы текущей flex-линии */
    justify-content: center;
    /*justify-content, но в перпендикулярном направлении.*/
    border-radius: 10px;
    background-size: cover;
    /*background-size — устанавливает размер фонового изображения*/
    justify-content: center;
    /*масштабируем*/
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(./astronomy-1867616_640.jpg);
}

/*псевдр*/

.item-2 {
    background-attachment;
    /*— определяет, будет ли фоновое изображение прокручиваться вместе с содержимым элемента*/
    border-radius: 10px;
    background-size: 850px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(./beach-1751455_640.jpg);
}

.item-3 {
    margin: 10px 10px 10px 10px;
    border-radius: 10px;
    background-size: 850px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(./drop-3698073_640.jpg);
}

.item-4 {

    border-radius: 10px;
    background-size: 850px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(./galaxy-3608029_640.jpg);
}

.item-5 {
    border-radius: 10px;
    background-size: 850px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(./milky-way-2695569_640.jpg);
}

.item-6 {
    border-radius: 10px;
    background-size: 850px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(./nature-3082832_640.jpg);
}

.item-7 {
    border-radius: 10px;
    background-size: 850px;
    /*Для растягивания изображения на весь экран можно использовать.Это свойство позволяет контролировать размеры */
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(./ocean-3605547_1280.jpg);
}

.item-8 {
    border-radius: 10px;
    background-size: 850px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(./splashing-165192_640.jpg);
}

/* background-size: cover || contain; 
            cover - на всю ширину блока, масштабирует по высоте
            contain - на всю высоту блока, масшатбирует по ширине

    background-position: center; 
        определяет позицию фоновой картинки внутри блока

    background-repeat: no-repeat; 
        если картинка меньше блока, она автоматически начинает повторяться,
            данное свойство убирает это поведение
ba   

ДЗ. Решить 12 уровней flexbox froggy
    Добавить картинки для 8 блоков
    */






/* .item-1 { 
    padding: 10px;
}


.item-2 {
    background-color: rgb(197, 22, 52);
    margin-left: 200px;
}
.item-3 {
    background-color: rgb(44, 4, 11);
    margin-left: 400px; 
}
.p {
    padding: 15px 30px;
} */




/*margin - это внешний отступ. 
    1. -top - сверху
    2. -right - справа 
    3. -bottom - снизу
    4. -left - слева 

    margin: 10px; - со всех сторон
    margin: 10px 20px;  10px - сверху/снизу, 20px - справа/слева
    margin: 10px auto 20px; 10px - сверху, auto - справа слева, 20px - снизу
    margin: 10px 20px 30px 40px; 
        10px - сверху, 20px - справа, 30px - снизу, 40px - слева


        */